{$SITE_ADDRESS} {
	reverse_proxy app:3000 {}

	encode gzip

	header {
		Strict-Transport-Security max-age=31536000;
		X-Content-Type-Options nosniff
		X-XSS-Protection "1; mode=block"
		X-Frame-Options DENY
		-Server
	}

	log {
		output file /var/log/caddy/access.log {
			roll_size 10MB # Create new file when size exceeds 10MB
			roll_keep 5 # Keep at most 5 rolled files
			roll_keep_days 14 # Delete files older than 14 days
		}
		format console
	}
}
